numpy
SQLAlchemy
lxml
bs4
selenium
webdriver-manager
jupyter
requests
apischema
beautifulsoup4
pandas
gensim
pyemd
ufal.udpipe
tqdm
django
requests
coverage
pylint
django-docs
django-allauth
pytz
dj-static
django-recaptcha2
sphinx_bootstrap_theme
nltk
yadisk
wget
